:root {
  --primary-color: #395062;
  --secondary-color: #AD997B;
  --secondary-color-light: #CEC2B1;
  --radius: 0.25rem;
}

html {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
}

*,
*>*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-inline: auto;
  max-width: 80rem;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

blockquote {
  border-left: 0.5rem solid #ccc;
  padding: 0.5em 10px;
  margin-inline: 0;
}

.caption {
  color: var(--primary-color);
  // font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;

  &.light {
    color: var(--secondary-color-light);
  }
}

.center-text {
  text-align: center;
}

a {
  &.button {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: white;
    appearance: none;
    border: none;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
  }
}

header {
  min-height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;

  >.actions {
    padding-inline: 1rem;

    >button,
    >a {
      font-size: 1rem;
      appearance: none;
      border: none;
      background-color: var(--secondary-color);
      color: white;
      padding-inline: 1rem;
      padding-block: 0.5rem;
      border-radius: var(--radius);
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
    }
  }

  >.logo {
    padding-inline: 1rem;

    >img {
      width: auto;
      height: 2.25rem;
      &.full {
        display: block;
      }
      &.small {
        display: none;
      }
    }
  }

  >nav {
    >ul {
      display: flex;
      gap: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;

      >li {
        >a {
          text-decoration: none;
          color: black;
          text-transform: capitalize;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}

footer {
  background-color: #333333;
  color: white;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    img {
      width: 1.5rem;
      height: auto;
      display: block;
      fill: var(--secondary-color);
    }
  }
}

#home {
  display: grid;
  grid-template-columns: 1fr minmax(18rem, 1fr);
  align-items: center;
  background-color: #fff;
  min-height: 36rem;
  padding-inline: 1rem;
  padding-block: 4rem;
  position: relative;
  grid-template-areas: "caption image";

  &::before {
    left: -4rem;
    top: 0;
    position: absolute;
    content: "";
    width: 16rem;
    height: 16rem;
    background: url(../assets/dots.png);
    background-size: contain cover;
    background-repeat: no-repeat;
  }

  .section-content {
    grid-area: caption;
    display: flex;
    flex-grow: 1;
    position: relative;
    padding-inline: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    .heading {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-size: 2rem;
        line-height: 1;
      }

      span {
        font-size: 1.5em;
        color: var(--primary-color);
      }
    }
  }

  img {
    grid-area: image;
    max-width: 100%;
    height: auto;
  }
}

#home-addon {
  padding: 2rem;
  background-color: #F6F6FF;
}

#aarsi {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-areas: "image caption";
  min-height: 36rem;
  background-color: initial;
  padding: 1rem;

  .section-content {
    grid-area: caption;
    position: relative;
    box-sizing: content-box;
    padding-inline: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    .heading {
      h2 {
        font-size: 2rem;
        line-height: 1;
      }

      span {
        font-size: 1.5rem;
        color: var(--primary-color);
      }
    }

    >ul {
      position: absolute;
      padding: 0;
      margin: 0;
      right: 1.25rem;
      list-style: none;
      top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      img {
        width: 1.5rem;
        height: auto;
        display: block;
      }
    }
  }

  >img {
    grid-area: image;
    max-width: min(100%, 18rem);
    height: auto;
  }
}

#aarsi-addon {
  padding: 2rem;
  background-color: #333;
  color: #e3e3e9;
}

#features {
  padding-top: 2rem;
  background-color: #fff;

  h2 {
    font-size: 2rem;
    line-height: 1;
  }

  >p {
    color: var(--primary-color);
  }

  >div {
    display: grid;
    grid-template-columns: minmax(18rem, 1fr) 1fr;
    grid-template-areas: "image caption";
    align-items: center;

    background-color: initial;
    padding: 2rem;

    .section-contents {
      grid-area: caption;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      ul {
        padding-left: 0;
        list-style: none;
        margin: 0.5rem 0 0;

        li {
          min-height: 1.5rem;

          >i {
            padding-inline-end: 0.25rem;
            color: var(--secondary-color);
          }
        }
      }
    }

    img {
      grid-area: image;
      max-width: 100%;
      height: auto;
    }
  }
}

#contact {
  padding-block: 2rem;
  background-color: #f5f5f5;

  .heading {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 2rem;
      line-height: 1;
    }

    span {
      font-size: 1.5em;
      color: var(--primary-color);
    }

    p {
      color: var(--primary-color);
    }
  }

  >.section-content {
    display: grid;
    grid-template-columns: 1fr minmax(18rem, 1fr);
    grid-template-areas: "form contact";
    gap: 2rem;
    padding-block: 2rem;
    padding-inline: 2rem;

    >form {
      grid-area: form;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-grow: 1;

      label {
        margin: 0.5rem 0 0.25rem;
        display: block;
      }

      input[type="text"],
      input[type="email"] {
        height: 2.5rem;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        font-family: 'Signika Negative', sans-serif;
        font-size: 16px;
        padding: 0.25rem 0.5rem;
        border: 1px solid silver;
        border-radius: 0.25rem;
        line-height: 1.25rem;
        width: calc(100%);
      }

      input[type="submit"],
      input[type="reset"] {
        font-size: 1rem;
        appearance: none;
        border: none;
        background-color: var(--secondary-color);
        color: white;
        padding-inline: 1rem;
        padding-block: 0.5rem;
        border-radius: 0.5rem;
        font-weight: bold;
      }

      input[type="reset"] {
        background-color: lightcoral;
      }
    }

    >div {
      grid-area: contact;
      max-width: 24rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-block: 2rem;
    }
  }
}
