
@media (max-width: (calc(28rem - 1px))) {
  header {
    >.logo {
      >img {
        &.full {
          display: none;
        }
        &.small {
          display: block;
        }
      }
    }
  }
}

@media (max-width: (calc(48rem - 1px))) {
  header {
    >nav {
      display: none;
    }
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  #home {
    grid-template-columns: 1fr;
    grid-template-areas: "caption" "image";
    gap: 2rem;

    .section-content {
      padding-inline: initial;
    }
  }
  
  #home-addon {
    padding: 1rem;
  }

  #aarsi {
    grid-template-columns: 1fr;
    grid-template-areas: "image" "caption";

    .section-content {
      padding-inline: initial;

      >ul {
        display: none;
      }
    }

    >img {
      justify-self: center;
    }
  }

  #aarsi-addon {
    padding: 1rem;
  }

  #features {
    >p {
      padding-inline: 1rem;
    }
    >div {
      grid-template-columns: 1fr;
      grid-template-areas: "image" "caption";
      padding: 1rem;
    }
  }

  #contact {
    .heading {
      padding-inline: 1rem;
    }

    >.section-content {
      padding: 1rem;
      grid-template-columns: 1fr;
      grid-template-areas: "form" "contact";
    }
  }

}
